:root {
  --primary-color: #3da33d;
  --accent-color: #b9f9b3;
  --secondary-color: #d9d9d9;
  --secondary-text-color: #989898;
  --meta-color: white;
  --dark-color: ;
  --navbar-height: 85px;
  --disabled-color: #84ff78;
}

.log_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.log_main .wrapper {
  height: 90%;
  border-radius: 2px;
  width: 75%;
  max-height: 800px;
  display: flex;
  position: relative;
  border: var(--secondary-color) 0.5px solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
}
.log_main .wrapper .form {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  transition: all 0.5s ease;
  border-radius: 2px;
}
.log_main .wrapper .form .links {
  display: flex;
}
.log_main .wrapper .form form {
  width: 300px;
}
form input:not(form input[type="checkbox"]) {
  width: 270px;
  height: 44px;
  border-radius: 4px;
  border: rgb(165, 164, 164) 1px solid;
  outline: none;
  padding: 2% 2% 2% 4%;
  margin: 3% 3% 3% 0;
}
form input:not(form input[type="checkbox"]):focus {
  border: #3da33d 1px solid;
}
form .input_wrapper {
  position: relative;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  padding-left: 25px;
  font-weight: 400;
}
.after {
  height: 25.5px;
  width: fit-content;
  top: 60%;
  left: 2%;
  position: absolute;
  color: rgb(129, 129, 129);
  transform: translateY(-100%);
  padding: 10px 2px 2px 8px;
  transition: all 3s ease-in-out 0;
  background-color: transparent;
  transition: all 0.2s ease;
  text-align: center;
}
form input:not(form input[type="checkbox"]):hover ~ .after,
form input:not(form input[type="checkbox"]):focus-within ~ .after,
form .select:hover .after,
form .select:focus .after,
.after:hover {
  color: var(--primary-color);
  top: 29%;
  font-size: 12px;
  transition: all 3s ease-in-out 0;
  font-weight: 400;
  left: 0.2%;
}
form input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
form input[type="number"]::-webkit-outer-spin-button {
  display: none;
}
.log_main .wrapper a button {
  border-radius: 2px;
}

.log_main .wrapper .side {
  left: 60%;
  width: 40%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  transition: all 0.5s ease;
  border-radius: 2px;
  color: var(--meta-color);
  text-align: center;
}
.nusu {
  width: 50%;
}
.wrapper .nusu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  flex-flow: column nowrap;
  width: 270px;
  height: 160px;
  position: absolute;
  background-color: var(--meta-color);
  color: var(--primary-color);
  overflow-y: auto;
  margin: 3%;
  top: 97%;
  left: 0;
  border: #87ff65 1px solid;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.list::-webkit-scrollbar {
  width: 10px;
}

.list::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background: #77e459;
  border: 2px solid #ffffff;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
