:root {
  --primary-color: #3da33d;
  --accent-color: #b9f9b3;
  --secondary-color: #d9d9d9;
  --secondary-text-color: #989898;
  --meta-color: white;
  --dark-color: ;
  --navbar-height: 85px;
  --disabled-color: #84ff78;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}
.profileImage {
  height: 200px;
}
.border_top {
  border-top: 1px #d9d9d9 solid;
}
.work {
  width: 85%;
  position: relative;
}
.work p {
  position: absolute;
  top: -2.9%;
  left: 0;
  background: white;
  color: #888;
  padding-right: 4px;
}
.bgCc {
  background-color: var(--accent-color);
  color: var(--primary-color);
}
.por {
  position: relative;
}
.expand {
  width: 4%;
  height: calc(100vh - var(--navbar-height));
  position: sticky;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 25ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #f9f9f9;
}
.expand:hover {
  width: 12%;
  transition: width 30ms linear;
}
.bar {
  width: 450px;
  height: 190px;
}
.pie {
  width: 300px;
  height: 400px;
}
.the_three {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px,
    rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
  border-radius: 12px;
}
.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  flex-direction: column;
}
.overlay {
  border: none;
  overflow: hidden;
}
.sub_clo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.modal_clo {
  color: var(--meta-color);
  background-color: var(--primary-color);
  border: none;
  font-size: x-large;
  padding: 0.3rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.modal_sub {
  border: none;
  background-color: var(--primary-color);
  color: var(--meta-color);
  padding: 0.5rem;
  border-radius: 8px;
}
.content {
  width: 100%;
  background-color: var(--primary-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--meta-color);
  position: relative;
  max-height: 500px !important;
}

.thead {
  background-color: var(--primary-color);
  color: var(--meta-color);
}

.th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid var(--primary-color);
}

.tbody tr {
  border-bottom: 1px solid #ddd;
  height: 45px;
}
.tbody tr td {
  padding: 15px;
}

.td {
  padding: 10px;
  text-align: left;
}
.tbody {
  max-height: 200px !important;
  overflow: hidden !important;
}
.tbody tr:hover {
  background-color: var(--primary-color);
  color: var(--meta-color);
}

input[type="checkbox"] {
  margin: 0 1.5rem 0 0;
}

.padding {
  padding: 0.75rem;
}
.attachment,
.voice,
.emoji {
  background-color: #fff;
  border: none;
}
.chatdiv-wrapper {
  position: fixed;
  bottom: 20px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 1rem;
  height: 50px;
  border: 1px solid #888;
  border-radius: 8px;
}
.chatinput {
  width: 85%;
  height: 30px;
  font-weight: 400;
  font-family: "Inria Sans";
  font-size: 18px;
  resize: none;
  display: flex;
  align-items: center;
}
.chatinput:focus {
  outline: none;
}
.chat-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}
.emoji {
  position: relative;
}
