* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}

.h_nav {
  width: 100%;
  height: 90px;
  background-color: var(--primary-color);
  color: var(--meta-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h_nav span {
  font-weight: 900;
  font-size: 5rem;
}
.h_nav span span {
  font-family: "Inria Sans", sans-serif;
  font-weight: 900;
  font-size: 5rem;
}
.h_nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: inherit;
}
.h_nav ul li a {
  text-decoration: none;
  color: var(--meta-color);
}
.h_nav ul li button {
  border: none;
  background-color: var(--meta-color);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 7px 25px 7px 25px;
  border-radius: 2px;
}
.h_nav ul li button a {
  text-decoration: none;
  color: black;
}
/* TODO: 
1. write the animations and transitions
*/
.main .h__section {
  width: 100%;
  height: 854px;
  color: black;
  background-image: url("../assets/pexels-matheusferrero-1974927.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.main .h__section .deco {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}
.main .h__section .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 2;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 15px;
  color: var(--meta-color);
}
.main .h__section div h1 {
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 40px;
}
.main .h__section div h4 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}
.main .h__section div button {
  border: none;
  padding: 7px 25px 7px 25px;
  background-color: var(--meta-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2px;
  margin-top: 30px;
}
.main .h__section div button a {
  text-decoration: none;
  color: black;
}
.opener_section {
  width: 100%;
  height: 712px;
  display: flex;
}
.opener_section .first_half {
  width: 50%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.opener_section .first_half h1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 30px;
  width: 65%;
  position: relative;
}
.opener_section .first_half h1::before {
  position: absolute;
  content: "";
  top: -50%;
  left: -30%;
  background: url(../assets/Frame\ 56.svg);
  overflow: visible;
  width: 117px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
}
.opener_section .first_half h1 span {
  font-size: 8rem;
  color: var(--primary-color);
}
.opener_section .second_half {
  width: 50%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.opener_section .second_half div {
  border-left: var(--primary-color) 2px solid;
  padding: 20px;
}
.nd_section {
  background-color: var(--secondary-color);
  width: 100%;
  height: 1948px;
}
.nd_section .tp_h {
  display: flex;
}
.nd_section .tp_h .right {
  width: 50%;
  height: 709px;
  position: relative;
}
.nd_section .tp_h .right .one,
.nd_section .tp_h .right .two,
.nd_section .tp_h .right .three,
.nd_section .four,
.nd_section .five,
.nd_section .six {
  width: 200px;
  height: 200px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nd_section .tp_h .right .one {
  border-radius: 10% 30% 7.5% 7.5%;
  background-image: url("../assets/prince-akachi-4Yv84VgQkRM-unsplash.jpg");
  box-shadow: black 10px 10px;
  top: 0;
  border-top: 2px solid black;

  left: 40%;
}
.nd_section .tp_h .right .two {
  border-radius: 50% 10% 50% 45%;
  background-image: url("../assets/airiz--DJXxqZ7mo8-unsplash.jpg");
  box-shadow: black -10px -10px;
  bottom: 20%;
}
.nd_section .tp_h .right .three {
  border-radius: 10% 7.5% 30% 7.5%;
  background-image: url("../assets/pexels-ron-lach-9869646.jpg");
  box-shadow: black 10px 10px;
  bottom: 0;
  right: 0;
}
.nd_section .four {
  border-radius: 45% 10% 45% 7.5%;
  background-image: url("../assets/christopher-campbell-rDEOVtE7vOs-unsplash.jpg");
  box-shadow: black 10px -10px;
  left: 60%;
  top: 50%;
}
.nd_section .five {
  border-radius: 45% 45% 45% 10%;
  background-image: url("../assets/ramadhan-azmi-hED9o1BUfxM-unsplash.jpg");
  box-shadow: black 10px -10px;
  top: 15%;
  left: 15%;
}
.nd_section .six {
  border-radius: 10% 45% 45% 10%;
  background-image: url("../assets/albert-dera-ILip77SbmOE-unsplash.jpg");
  box-shadow: black 10px 0;
  bottom: -5%;
  left: -5%;
}
.nd_section .tp_h .wrong {
  display: flex;
  width: 50%;
  height: 709px;
  flex-direction: column;
}
.nd_section .tp_h .wrong h1 {
  margin-bottom: 50px;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 150px;
}
.nd_section .btm_h {
  display: flex;
}
.nd_section .btm_h .lt {
  width: 50%;
  display: flex;
  height: 804px;
  flex-direction: column;
  margin-left: 15px;
  justify-content: center;
  z-index: 1;
}
.nd_section .btm_h .lt h1 {
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 3rem;
  font-weight: 900;
}
.nd_section .btm_h .rt {
  position: relative;
  width: 50%;
  height: 804px;
  z-index: 0;
}
.nd_section .btm_h .rt svg {
  position: absolute;
  top: 25%;
  right: 0;
}
.rd_section {
  display: flex;
  width: 100%;
  height: 900px;
  flex-wrap: wrap;
  flex-direction: row;
}
.rd_section > div {
  width: 50%;
  height: 400px;
}
.rd_section .pic1 {
  background-image: url("../assets/pexels-panditwiguna-1128318.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 41% 59% 54% 46% / 62% 30% 70% 38%;
}
.rd_section .pic2 {
  background-image: url("../assets/pexels-wildlittlethingsphoto-697244.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 61% 39% 50% 50% / 25% 58% 42% 75%;
}
.rd_section .text1 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.rd_section .text1 .title1 {
  display: flex;
}
.rd_section .text1 .title1 span {
  color: var(--primary-color);
  font-size: 70px;
}
.rd_section .text1 .title1 h1 {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
  text-underline-offset: 5px;
  padding-top: 0.7rem;
}
.rd_section .text1 p {
  padding-left: 0.4rem;
  margin-top: 1rem;
}
.rd_section .text1 a {
  width: fit-content;
}
.rd_section .text1 a button {
  border: none;
  color: var(--meta-color);
  border-radius: 2px;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}
.rd_section .text2 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.rd_section .text2 .title2 {
  display: flex;
}
.rd_section .text2 .title2 span {
  color: var(--primary-color);
  font-size: 70px;
}
.rd_section .text2 .title2 h1 {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
  text-underline-offset: 5px;
  padding-top: 0.7rem;
}
.rd_section .text2 a {
  width: fit-content;
}
.rd_section .text2 a button {
  border: none;
  background-color: var(--primary-color);
  color: var(--meta-color);
  border-radius: 2px;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}
.FAQs {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  position: relative;
}
.FAQs div {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50px;
  color: var(--primary-color);
}
.FAQs div h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: xx-large;
}
.FAQs ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.FAQs ul li {
  padding-block: 1rem;
  margin: 1rem;
  border-bottom: var(--meta-color) 1px solid;
}
.FAQs ul li a {
  color: var(--meta-color);
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
footer {
  display: flex;
  flex-direction: column;
}
footer .muskerters {
  display: flex;
}
footer .first {
  flex: 1;
  height: 400px;
  padding: 1rem;
}
footer .second {
  flex: 1;
  padding-top: 1rem;
  padding-inline: 2rem;
  height: 400px;
}
footer .second ul {
  width: 175px;
}
footer .third {
  flex: 1;
  height: 400px;
  padding-top: 1rem;
}
footer .third ul {
  display: inline-flex;
  margin-bottom: 6rem;
}
footer .third .security {
  display: flex;
  margin-left: 1rem;
}
footer .third .security div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Josefin Slab", sans-serif;
}
footer .third .security div p,
footer .third .security div p span,
footer .third .security div span {
  font-family: "Josefin Slab", sans-serif;
  font-size: 20px;
}
footer .third .security div p span {
  font-weight: 600;
}
footer .third .security div span {
  font-weight: 800;
  font-style: italic;
}
footer .bottom {
  width: 100%;
  color: var(--meta-color);
  background-color: var(--primary-color);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
footer .bottom em {
  font-size: x-small;
  text-align: center;
}
footer ul li a {
  color: var(--primary-color);
}
footer .first ul li,
footer .second ul li {
  margin: 1.5rem;
}
footer .third ul li {
  margin: 0.5rem;
  width: 60px;
  height: 60px;
}
